<footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Copyright © 2024 Serai DEX</p>
                </div>
                <div class="col">
                    <div class="fsocial">
                        <ul>
                            <li>
                                <a href="https://github.com/serai-dex/serai" target="_blank">
                                    <img src="/img/social-icons/github-logo-white.png" alt="Github icon logo">
                                </a>
                            </li>
                            <li>
                                <a href="https://discord.gg/mpEUtJR3vz" target="_blank">
                                    <img src="/img/social-icons/discord-logo-white.png" alt="Discord icon logo">
                                </a>
                            </li>
                            <li><a href="https://matrix.to/#/#serai:matrix.org" target="_blank">
                                <img src="/img/social-icons/matrix-logo-white.png" alt="Matrix icon logo">
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/SeraiDEX" target="_blank">
                                    <img src="/img/social-icons/twitter-logo-white.png" alt="X (Twitter) icon logo">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</footer>
